.signin-with-email {
  background: #47C8DE;

  &.form {
    label {
      color: #FFF;
    }

    input[type="text"],
    input[type="email"] {
      border-bottom: solid 2px #FFF;
      color: #6390de;
    }
  }
}