.signin-with-email {
  background: #47C8DE;

  a.back,
  a.back:link,
  a.back:visited,
  a.back:hover,
  a.back:active {
    color: #FFF;
    font-size: 14px;
  }

  label {
    font-size: 24px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5% 0 0 0;
    text-align: left;

    @include middle-smartphones-portrait {
      font-size: 28px;
    }

    @include big-smartphones-portrait {
      font-size: 32px;
    }
  }

  input[type="text"] {
    background: none;
    border: 0;
    border-bottom: solid 2px #FFF;
    width: 100%;
    font-size: 20px;
    color: #6390de;
  }
}