.form {
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    background: none;
    border: 0;
    width: 100%;
    font-size: 20px;

    @include middle-smartphones-portrait {
      font-size: 24px;
    }

    @include big-smartphones-portrait {
      font-size: 28px;
    }
  }

  .field-with-format {
    position: relative;
    font-size: 20px;

    .prefix,
    .sufix {
      position: absolute;
      top: 0;
    }

    .prefix {
      left: 0;
    }

    .sufix {
      right: 0;
    }

    input {
      padding: 0 30px 0 15px;
    }
  }
}